.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: row;
    gap: 6px;
  }
}

.wrapper {
  width: var(--sidebar-width);
  position: absolute;
}