.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin-bottom: 16px;
}

.filterContainer {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light-gray-3) var(--light-gray-2);

  .list {
    list-style: none;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 6px;
      font-size: 14px;
      cursor: pointer;
      border-bottom: 1px solid var(--light-gray-2);

      &.active {
        color: var(--secondary-teal);
        font-weight: 700;
        border: 1px solid var(--secondary-teal);
        border-radius: 8px;
        background-color: #00bfc114;
        margin-top: 10px;
      }

      &:hover {
        color: var(--secondary-teal);
        font-weight: bold;
      }
    }
  }

  .subHeader {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-navy);
    margin: 0;
    padding: 0;
  }
}